<div class="container">
  <div id="stepper1"
       class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step"
           data-target="#info">
        <button class="step-trigger">
          <span class="bs-stepper-circle">
            <fa-icon [icon]="info"></fa-icon>
          </span>
          <!-- <span class="bs-stepper-label">Basic Info</span> -->
        </button>
      </div>
      <div class="line"></div>
      <div class="step"
           data-target="#skills">
        <button class="step-trigger">
          <span class="bs-stepper-circle">
            <fa-icon [icon]="skills"></fa-icon>
          </span>
          <!-- <span class="bs-stepper-label">Skills</span> -->
        </button>
      </div>
      <div class="line"></div>
      <div class="step"
           data-target="#education">
        <button class="step-trigger">
          <span class="bs-stepper-circle">
            <fa-icon [icon]="education"></fa-icon>
          </span>
          <!-- <span class="bs-stepper-label">Education</span> -->
        </button>
      </div>
      <div class="line"></div>
      <div class="step"
           data-target="#jobs">
        <button class="step-trigger">
          <span class="bs-stepper-circle">
            <fa-icon [icon]="jobs"></fa-icon>
          </span>
          <!-- <span class="bs-stepper-label">Jobs</span> -->
        </button>
      </div>
      <div class="line"></div>
      <div class="step"
           data-target="#preview">
        <button class="step-trigger">
          <span class="bs-stepper-circle">
            <fa-icon [icon]="preview"></fa-icon>
          </span>
          <!-- <span class="bs-stepper-label">Preview</span> -->
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form (ngSubmit)="onSubmit()">
        <div id="info"
             class="content">
          <app-basic-info></app-basic-info>
          <div class="d-flex flex-row justify-content-end">
            <button (click)="next()"
                    class="btn btn-primary">
              <fa-icon [icon]="forward"></fa-icon>
            </button>
          </div>
        </div>
        <div id="skills"
             class="content">
          <app-skills></app-skills>
          <div class="d-flex flex-row justify-content-between">
            <button (click)="previous()"
                    class="btn btn-secondary">
              <fa-icon [icon]="back"></fa-icon>
            </button>
            <button (click)="next()"
                    class="btn btn-primary">
              <fa-icon [icon]="forward"></fa-icon>
            </button>
          </div>
        </div>
        <div id="education"
             class="content">
             <div class="d-flex flex-row justify-content-between">
              <button (click)="previous()"
                      class="btn btn-secondary">
                <fa-icon [icon]="back"></fa-icon>
              </button>
              <button (click)="next()"
                      class="btn btn-primary">
                <fa-icon [icon]="forward"></fa-icon>
              </button>
            </div>
        </div>
        <div id="jobs"
             class="content">
          <div class="d-flex flex-row justify-content-between">
            <button (click)="previous()"
                    class="btn btn-secondary">
              <fa-icon [icon]="back"></fa-icon>
            </button>
            <button (click)="next()"
                    class="btn btn-primary">
              <fa-icon [icon]="forward"></fa-icon>
            </button>
          </div>
        </div>
        <div id="preview"
             class="content text-center">
          <button type="submit"
                  class="btn btn-primary mt-5">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>