<div>
    <legend> Skills</legend>
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column col-md-10">
            <form class="d-flex flex-row form-inline"
                  [formGroup]="form">
                <label class="col-md-1"
                       for="skill">Skill: </label>
                <input autofocus
                       formControlName="skill"
                       type="text"
                       class="form-control col-md-8 mr-0" />
                <button class="btn btn-success ml-2"
                        (click)="addSkill()">
                    <fa-icon [icon]="plus"></fa-icon>
                </button>
                <span class="text-danger ml-2"
                      *ngIf="validate(form.controls.skill)">Required</span>
            </form>
            <div *ngFor="let control of skills.controls; index as i"
                 class="d-flex flex-row form-inline mt-2">

                <div class="col-md-1">
                    <div style="font-size: .75rem;" class="d-flex flex-row justify-content-end">
                        <fa-icon [icon]="circle"></fa-icon>
                    </div>
                </div>
                <input #skillInput
                       readonly
                       [formControl]="skills.controls[i]"
                       [value]="control.value"
                       type="text"
                       class="form-control col-md-8" />
                <button (click)="setReadonly(skillInput)"
                        *ngIf="!skillInput.hasAttribute('readonly')"
                        class="btn btn-success ml-2">
                    <fa-icon [icon]="check"></fa-icon>
                </button>
                <button (click)="setReadonly(skillInput)"
                        *ngIf="skillInput.hasAttribute('readonly')"
                        class="btn btn-primary ml-2">
                    <fa-icon [icon]="edit"></fa-icon>
                </button>
                <button (click)="skills.removeAt(i)"
                        class="btn btn-danger ml-2">
                    <fa-icon [icon]="minus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>